<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Course management system</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css" />
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<!--<div th:insert="~{application.html :: #nav-section}">-->
<!--</div>-->

<body class="d-flex flex-column min-vh-100">
<main class="flex-grow-1">
<!--    <div th:if="${session.flash}" th:class="'rounded-0 m-0 alert alert-dismissible fade show alert-' + ${ctx.consumeSessionAttribute('flash-type')}"-->
<!--         role="alert">-->
<!--        <p class="m-0" th:text="${ctx.consumeSessionAttribute('flash')}"></p>-->
<!--    </div>-->
    <div class="container-lg mt-5">
        <h1>My courses</h1>
        <table class="table table-bordered table-hover mt-3">
            <thead>
            <tr>
                <th class="col-1">Name</th>
                <th>ID</th>
                <th class="col-2">Instructors</th>
                <th class="col-1">Students</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${courses}" th:object="${course}">
                <td>
                    <a th:href="@{/courses/{id}(id=*{getId()})}" th:text="*{getName}"></a>
                </td>
                <td th:text="*{getId()}"></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>


<!--    <nav aria-label="Page navigation" th:if="${#lists.size(pages)}">-->
<!--        <ul class="pagination justify-content-center mt-5">-->
<!--            <li th:class="'page-item' + ${currentPage <= 1 ? ' disabled' : ''}">-->
<!--                <a class="page-link" th:href="@{urls(page=(${currentPage - 1}))}">Previous</a>-->
<!--            </li>-->
<!--            <li th:each="page : ${pages}" th:class="'page-item' + ${currentPage == page ? ' active' : ''}">-->
<!--                <a class="page-link" th:href="@{urls(page=${page})}" th:text="${page}"></a>-->
<!--            </li>-->
<!--            <li th:class="'page-item' + ${currentPage >= #lists.size(pages) ? ' disabled' : ''}">-->
<!--                <a class="page-link" th:href="@{urls(page=(${currentPage + 1}))}">Next</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
</main>


<!--<div th:insert="~{application.html :: #footer-section}"></div>-->
</body>
</html>